/* styles.css - used http://colorsafe.co/ color picker */
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 40px;
    background: #eef4fe;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #34495e;
    font-size: 1.5em;
}